body {
    background-color:#46166B;
    font-family: sans-serif;
    }
h1 {
    color:#DB9F11;
    text-align:center; 
    font-family: serif;
    }
table, th, td {
        border: 0;
        border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align:center;
            color: #DB9F11;
            }
        caption {
            text-align: center;
            margin-top: 5px;
            font-size: 135%;
            font-weight: bold;
            color:#DB9F11;
            }
.button1 {
    background-color:#DB9F11; 
    color:white;
    border-radius:8px;
    }
.button2 {
    background-color:#5F6062;
    color:white;
    border-radius: 6px;    
    }
input {
    background-color:#46166B; 
    color:white;
    }
