body {background-color:#DB9F11;}
div {background-color:#46166B;
    color: #FFFFFF; 
    width:215px;
    height:155px;
    padding-bottom:10px; 
    padding-left:10px;
    padding-top: 10px;
    font-family: sans-serif;
    }
h1 {color:#46166B;
   text-align:center; 
   font-family: serif;
   }
button {background-color:#DB9F11;
        color:white;
        border-radius:8px;
        }
